.aboutMeContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.section {
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section:nth-child(even) {
  flex-direction: row-reverse;
}
.titleAndParagraph {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.titleAndParagraph > p {
  font-size: clamp(1rem, 3vh + 0.5rem, 1.5rem);
}
.titleAndParagraph > h1 {
  font-size: clamp(1.68rem, 1.2vh + 0.2rem, 2rem);
}
.list > li {
    list-style: none;
}
.image {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image > img {
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
@media (max-width: 835px) {
  .titleAndParagraph > p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .aboutMeContainer {
    width: 100vw;
  }
  .section {
    flex-direction: column;
    width: 90vw;
  }
  .section:nth-child(even) {
    flex-direction: column;
  }
  .titleAndParagraph {
    width: 100%;
  }
  .titleAndParagraph > p {
    font-size: clamp(0.5rem, 1.5vh + 0.1rem, 2rem);
  }
  .image {
    width: 100vw;
    flex-direction: column;
  }
}
.LavenderIndigo{
    color: #A555EC;
}
.neonLavenderIndigo{
    color: white;
    text-shadow: 0 0 10px #A555EC, 0 0 10px #A555EC,0 0 10px #A555EC;
}
.FernGreen{
    color: #379237;

}
.neonFernGreen{
    color: white;
    text-shadow: 0 0 10px #379237, 0 0 10px #379237, 0 0 10px #379237;
}
.ArtyClickTurquoise{
    color: #00FFBF;
    text-shadow: 0 0 3px black;
}
.neonArtyClickTurquoise{
    color: white;
    text-shadow: 0 0 10px #00FFBF, 0 0 10px #00FFBF, 0 0 10px #00FFBF;
}
.InternationalOrange{
    color: #FF4F00;
    text-shadow: 0 0 3px black;
}
.neonInternationalOrange{
    color: white;
    text-shadow: 0 0 10px #FF4F00, 0 0 10px #FF4F00, 0 0 10px #FF4F00;
}